{% extends 'base.html' %}
{% block title %}About Us{% endblock title %}
{% block body %}
<div class="container-fluid my-4 px-0">
    <img src="https://source.unsplash.com/1200x400/?airport" class="d-block w-100" alt="...">
    <h1 class="text-center my-4"><b>About Us</b></h1>
    <div class="col-md-8">
                    
        <div id="system-message-container">
</div>

        <div class="item-page" itemscope="" itemtype="https://schema.org/Article">
<meta itemprop="inLanguage" content="en-GB">


<div class="page-header">
                </div>
        




                    <div itemprop="articleBody">
<h6>What is Awards + Plus:</h6>
<p>Discover a whole new way of flying.</p>
<p>Discover the benefits of enrolling in PIA’s frequent flyer program.</p>
<p>Awards +Plus is a frequent flyer program designed exclusively for PIA travelers. Each time you fly PIA, or use the services of our partners, you can earn A+ miles and become eligible for a range of fantastic offers.</p>
<p>Your A+ Miles can be redeemed for free tickets, excess baggage vouchers, cabin upgrades, and a variety of exciting rewards and special deals.</p>
<h6>How it works:&nbsp;</h6>
<h4><br><strong>Earning and redeeming A+ Miles has never been easier</strong></h4>
<p>Each time you fly with PIA, you can earn A+ Miles. Provide your A+ Membership Number whilst making a reservation, and your A+ Miles will automatically be credited to your account the moment you are airborne.<br>That's not all. You can now earn A+ Miles with your feet firmly planted on the ground. All you need to do is keep your A+ Membership card handy when making a purchase from one of our partners to earn A+ Miles.<br><br></p>
<h6><strong>Membership Tiers</strong></h6>
<p><br>An A+ Membership is your ticket to exclusive benefits and privileges.<br><br>Awards +Plus offers three tiers of membership to frequent flyers. The more often you fly PIA, the more A+ Miles you will accumulate, bringing you a step closer to the next tier of membership.<br>Each tier of membership offers a unique set of benefits and privileges, designed to make your next trip exciting and rewarding.</p>
<h4>Emerald</h4>
<p>All new A+ Members are enrolled in the Emerald tier.<a href="https://book-pia.crane.aero/web/MemberRegister.xhtml">&nbsp;Become a Member Today</a>&nbsp;and 500 bonus A+ Miles will automatically be credited to your account.</p>
<h4><br>Sapphire</h4>
<p>The Sapphire tier takes you to the next level of A+ benefits. To enroll in or maintain Sapphire tier, you will need to accumulate within a calendar year, either 25 trips or 30,000 A+ Miles (Base+Class of service).<br><br>Effective from 1st August 2022, A+ Members can move up to the Sapphire tier by paying Pak Rs. 90,000 or US$ 500<br><br></p>
<h4>Diamond</h4>
<p>As a Diamond tier member, you can enjoy additional and exclusive A+ privileges. To enroll in or maintain Diamond tier, you will need to accumulate within a calendar year, either 50 trips or 70,000 A + Miles (Base+Class of service).<br><br>Effective from 1st August 2022, A+ Members can move up to the Diamond tier by paying Pak Rs. 200,000 or US$ 1500.&nbsp;<br><br>Flying PIA has never been so rewarding. Discover the benefits of Awards +Plus today.</p>
<h6><br>Special A+ Features:</h6>
<p>The A+ Program comes packed with special features, designed to facilitate your frequent flyer membership.</p>
<ul>
<li>You can earn and redeem A+ miles not just by flying&nbsp;<a href="https://www.piac.com.pk/">PIA</a>, but also by using the products and services of our partners.</li>
<li>If you fall short of A+ Miles when redeeming an award, you can top-up your balance by purchasing A+ Miles to meet the deficit.&nbsp;<a href="/awards/terms-and-conditions">Terms &amp; Conditions Apply</a></li>
<li>You can conveniently check your A+ Miles status at any time&nbsp;online&nbsp;or by calling 111-786-786.</li>
<li>You can instantly redeem A+ Miles,check your balance as well as purchase A+ Miles for redemption from any PIA Booking office,Airport check-in counter &amp; PIA ticketing counter at the Airport.</li>
<li>You can now redeem A+ Miles by simply calling 111-786-786 or click&nbsp;<a href="https://book-pia.crane.aero/web/MemberLogin.xhtml">redemption request</a>&nbsp;for online redemption of your A+ Miles.</li>
</ul>
<h6>How To Join</h6>
<p>The Awards +Plus Programme</p>
<p>Joining Awards +Plus is a simple process and won't take more than a few minutes to complete. You can start enjoying all the privileges and benefits of PIA's premier frequent flyer program as soon as you fill-in the membership&nbsp;<a href="https://book-pia.crane.aero/web/MemberRegister.xhtml">enrollment form</a><a href="https://pia.crane.aero/web/MemberRegister.xhtml">.</a></p> 	</div>


                </div>
        

    </div>

    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
          </ul>
          <p class="text-center text-muted">© 2022 Company, Inc</p>
        </footer>
      </div>
{% endblock body %}