{% extends 'base.html' %}
{% block title %}Services{% endblock title %}
{% block body %}
<div class='container-fluid my-4 px-0'>
    <h1>check flight</h1>
    </div>
    <div class="album py-5 bg-body-tertiary">
        <div class="container">

                {% for mydata in mydata%}
            <strong>id:</strong> {{mydata.id}}</br>
            <strong>Name:</strong> {{mydata.name}}</br>
            <strong>Contact:</strong> {{mydata.contact}}</br>
            <strong>From:</strong> {{mydata.frm}}</br>
            <strong>To:</strong> {{mydata.to}}</br>
            <hr>
            <strong><p>if you want to cancel your flight!</p></strong>
            <td><a href="cancelflight/{{ mydata.id }}"> <button class="btn btn-outline-danger"> cancel flight </button> </a></td>
                {% endfor %}
                

                {% comment  %}
                <div class="input-group">
                    <input name="q" type ="text" placeholder="search" class="form-control form-control-lg">
                    <div class="input-group-append">
                        <button class="btn btn-dark btn-lg">search</button>
                    </div>
                </div>
                {% endcomment %}
{% endblock body %}